bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.ScrapeWilayah/.idea/discord.xml
.idea/.idea.ScrapeWilayah/.idea/indexLayout.xml
.idea/.idea.ScrapeWilayah/.idea/vcs.xml
/.idea/.idea.ScrapeWilayah/.idea/material_theme_project_new.xml
.idea/
